@import '../tools/vars';

.page {
  position: relative;
  .bg-anim {
    position: fixed;
    top: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    padding: $spacing;
    margin: auto;
    margin-top: 3rem;
    max-width: 960px;
  }
}
