<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Simon Larsson</title>
    <meta name="description" content="My name is Simon Larsson. I am a web developer from Sweden who lives in Denmark. I work with Drupal at Reload A/S.">
    <link rel="shortcut icon" href="@images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="@images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
