@import '../tools/vars';
.sitemast {
  position: fixed;
  top: 0;
  left: 0;
  color: $bgColor;
  background-color: rgba($fgColor, 0.9);
  z-index: 2;
  width: 100%;
}

.site-name {
  max-width: 960px;
  margin: auto;
  padding: $spacing--small $spacing;
}
