@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
// Font family.
$font--main: 'Cormorant Garamond', serif;

// Sizes.
$font-size--root: 20px;
$font-size--base: 1rem;

$font-size--XXL: 3em;
$font-size--XL: 2em;
$font-size--L: 1.7em;
$font-size--M: 1.4em;

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

// Base.
html {
  font-size: $font-size--root;
}

body {
  font-family: $font--main;
}

p {
  line-height: 1.5;
  margin: $spacing--small 0;

  &.blinky:after {
    content: '_';
    display: inline;
    animation: blink-animation 1s steps(5, start) infinite;
  }
}

a {
  color: inherit;
  transition: all 250ms linear;
  transition-property: opacity, transform;
  display: inline-block;
  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

// Headings.
.heading {
  font-size: $font-size--L;
  line-height: 1;

  &--large {
    font-size: $font-size--XL;
  }
}
