// Colors.
$bgColor: rgb(255, 251, 208 );
$fgColor: rgb(204, 102, 0 );
$readingTextColor: rgb(50, 50, 50);
$hlColor: rgb(	255, 153, 0);
$acColor: rgb(193, 49, 0);

// Spacing.
$spacing: 2rem;
$spacing--large: $spacing * 2;
$spacing--small: $spacing / 2;
